/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* tr {
   padding: 0px;
   margin: 0px;
 } */

 /* td {
   padding: 0px;
 }  */

 .tableData {
   padding: 0px;
 } 

 .tableIcons {
   margin: 0px;
   display: inline;
 }


 .tablePara {
   padding: 0px;
   margin:0px;
 }

 .tableData1 {
   margin-top: 40px;
   margin-bottom: 40px;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#amyPic {
	height: 30%;
  width: 50%;
}

#cards {
  box-align: center;
}

#background {
	width: 100%;
    	height: auto;
    	position: absolute;
}

#time {
	font-family: 'Acme';
	padding:0px;
	margin:0px;
}

th {
  font-size: 20px;
  text-align: center;
}

/* /* #iteneraryContainer {
  width: 100%;
  padding:0px;
} */

#itineraryHolder {
  margin: 0px;
  width:70%;
  padding:0px;
}
 
#mapHolder {
  margin:0px;
  padding:0px;
  height: 400px;
}

#table {
  width:100%;
}
/* 
#rightTable {
  padding-right: 10%;
} */
/* 
#leftTable {
  padding-left: 10%;
} */
 
#googleMap {
  margin: 0px;
  padding:0px;
  width: 100%;
  height:100%;
}

/* #row2 {
  margin-left: 5%;
  margin-right: 5%;
}  */